<p>edit / <a href="/upload">upload</a></p>
<h2>Edit Board</h2>
<div class="form-group">
<form method="POST" action="/update">
    <label for="placeName">Place Name</label>
    <input name="place_name" type="text" class="form-control" id="placeName"  placeholder="<%= @place_name %>">
    <label for="placeHeader">Intro Message Header</label>
    <input name="intro_message_header" type="text" class="form-control" id="placeHeader"  placeholder="<%= @intro_message %>">
    <label for="placeLead">Intro Message Lead</label>
    <input name="intro_message_lead" type="text" class="form-control" id="placeLead"  placeholder="<%= @intro_message_lead %>">
    <label for="announcementArea">Announcements</label>
    <small id="announcementArea" class="form-text text-muted">Please separate announcements with a dash and a new line.</small>
    <textarea name="announcements" class="form-control" id="announcementArea" rows="4">
<% @announcements.each do |announcement| %>
- <%= announcement %>
<% end %>
    </textarea>
    <label for="youtubeLink">Youtube Link</label>
    <input name="youtube_id" type="text" class="form-control" id="youtubeLink">
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
</div>