<nav class="breadcrumb is-centered is-large" aria-label="breadcrumbs">
  <ul>
    <li><a href="/upload">Upload</a></li>
    <li class="is-active"><a href="#">Edit</a></li>
    <li><a href="/images">Gallery</a></li>
  </ul>
</nav>
<h1 class="title">Edit Board</h1>
<form method="POST" action="/update">
    <div class="feild">
        <label class="label">Place Name</label>
        <div class="control">
        <input class="input" name="place_name" type="text" class="form-control" id="placeName"  placeholder="<%= @place_name %>">
    </div>
    <div class="feild">
        <label class="label" for="placeHeader">Intro Message Header</label>
        <div class="control">
        <input class="input" name="intro_message_header" type="text" class="form-control" id="placeHeader"  placeholder="<%= @intro_message_header %>">
    </div>
    </div>
    <div class="feild">
        <label class="label" for="placeLead">Intro Message Lead</label>
        <div class="control">
        <input class="input" name="intro_message_lead" type="text" class="form-control" id="placeLead"  placeholder="<%= @intro_message_lead %>">
    </div>

    </div>
    <div class="feild">
        <label class="label" for="announcementArea">Announcements</label>
        <small>Please separate announcements with a dash and a new line. The announcements follow <a href="">markdown</a> rules.</small>
        <div class="control">

        <textarea class="textarea" name="announcements"id="announcementArea" rows="4"><%= @announcements %></textarea>
    </div>

    </div>
    <div class="feild">
        <label class="label" for="youtubeLink">Youtube Link</label>
    </div>
    <div class="control">
    <input class="input" name="youtube_id" type="text" class="form-control" id="youtubeLink">
    <div class="field">
        <label class="label">Choose Video Source</label>
        <small>To upload a local video, go to <a href="/upload">upload</a>.</small>
        <div class="control">
        <div class="select">
            <select name="video_source">
                <option value="youtube">Youtube</option>
                <option value="local">Local Video</option>
            </select>
        </div>
        </div>
    </div>
    <button type="submit" class="button">Save Changes</button>
    </div>
</form>