<div class="jumbotron">
  <h1><%= @intro_message %></h1>
  <p class="lead"><%= @lead %></p>
</div>
<div class='col-md-6' id='assets'>
  <h1>assets</h1>
</div>
<div class='col-md-6' id='announcements'>
  <h1>announcements</h1>
  <ul>
  <% @announcements.each do |announcement| %>
    <li>
      <p><%= announcement %><p>
    </li>
  <% end %>
  </ul>
</div>