<div class="navbar-menu">
  <div class="navbar-start">
    <div class="navbar-item">
      <img id="logo" src="/uploads/images/logo">
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item" id="clock"></div>
  </div>
</div>
<div class="columns">
  <div class='column'>
    <h1 class='title'><%= @intro_message_header %></h1>
    <p><%= @intro_message_lead %></p>
  </div>
  <div class='column box content' id='announcements'>
    <h1 class="title">Announcements</h1>
    <%= markdown(@announcements) %>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div id='video'>
      <% if @local_video %>
      <video width="560" height="316" controls muted loop >
        <source src="uploads/video/local_video" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <% else %>
          <div id='youtube_video'></div>
      <% end %>
      </div>
      </div>
      <div class="column">
        <div id='gallery'>

        </div>
      </div>
    </div>