<div class="columns">
  <div class='column is-one-fifth'>
    <img id="logo" src="/images/logo">
    <div id="clock"></div>
  </div>
  <div class='column'>
    <h1 class='title'><%= @intro_message_header %></h1>
    <p><%= @intro_message_lead %></p>
  </div>
  <div class='column box content' id='announcements'>
    <h1 class="title">Announcements</h1>
    <%= markdown(@announcements) %>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div id='video'>
      <div id='youtube_video'></div>
    </div>
  </div>
  <div class="column">
    <div id='gallery'>

    </div>
  </div>
</div>