<p><a href="/edit">edit</a> / upload </p>
<h2>Manage Uploads</h2>
<form method='POST' action='/upload_logo' enctype="multipart/form-data">
  <div class="form-group">
    <label for="inputFile">Upload Logo</label>
    <input type="file" class="form-control-file" id="inputFile" name='file'>
    <input class='btn btn-default' type="submit" value="Upload Image">
  </div>
</form>
