body {
    margin-top: -30px
}

#logo {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
}

#clock {
  font-size: 2em;
}

#slideshow {
    margin: auto;
    position: relative;
}

#slideshow > div {
    position: absolute;
    height: auto;
    width: auto;
    min-width: 500px;
    min-height: 315px ;
    max-width: 500px;
    max-height: 315px;
}

.gallery-image {
    height: auto;
    width: auto;
    max-width: 125px;
    max-height: 125px;
}

.footer {
    text-align: center;
    color: white;
    background-color: #0d4c82;
}