#logo {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
}

#clock {
  font-size: 2em;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
}

#slideshow > div {
    position: absolute;
}