#logo {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
}

#clock {
  font-size: 2em;
}

#slideshow {
    margin: auto;
    position: relative;
}

#slideshow > div {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
}

.gallery-image {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
}